
<%= form_with(model:  [@ticket.project, @ticket], url: project_ticket_path) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.radio_button :status, "ToDo",checked: true %>
    <%= form.label :status, "ToDo" %>
    <%= form.radio_button :status, "InProgress" %>
    <%= form.label :status, "InProgress" %>
    <%= form.radio_button :status, "Done" %>
    <%= form.label :status, "Done" %>

  </div>

  <div> 
    <%= form.label :uploads, style: "display: block" %> 
    <%= form.file_field :uploads , multiple:true %> 
  </div>

  <div>
    <%= form.hidden_field :project_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  
<% end %>
