<% unless @ticket == nil %>
<div id="<%= dom_id ticket %>", class="w3-bar-item w3-button w3-padding ticket-card no-wrap">
<% else %>
<div id="<%= dom_id ticket %>", class="w3-bar-item w3-button w3-padding ticket-card">
<% end %>

  <% if request.env['PATH_INFO'] == "/projects/#{@project.id}/tickets/#{ticket.id}" %>
    <h4><strong><%= ticket.title %></strong></h4>

    <p class="description">
      <%= ticket.description %>
    </p>

    <% ticket.uploads.each do |upload| %> 
      <% unless @ticket == nil %>
      <%= image_tag upload %>
      <% else %>
      <%= image_tag upload ,class:"image" %>
      <% end %>
    <% end %>
  <% else %>
    <h4 class="ticket-title-part"><strong><%= ticket.title %></strong></h4>
  <% end %>

  <p>
    <strong>Status: </strong><%= ticket.status %>
  </p>

  <% if ticket.due_set %>
    <div style="color:blue;"><strong>Due date:  </strong><%= ticket.due.strftime('%m/%d/%Y') %></div>
  <% else %>
  <%= button_to "Due date", project_ticket_due_path(id: ticket.id)%>
  <% end %>
  <div style="padding:10px">
  <%= button_to "Done", project_ticket_change_status_url(id: ticket.id, status: "Done"),  style:"float:left;margin:10px;background-color:#bd2828;color:white;" %>
  <%= button_to "To Do", project_ticket_change_status_url(id: ticket.id, status: "ToDo"), style:"float:left;margin:10px;background-color:#07810a;color:white;" %>
  <%= button_to "In Progress", project_ticket_change_status_url(id: ticket.id, status: "InProgress"), style:"float:left;margin:10px;background-color:#3919ad;color:white;" %>
  </div>
</div>
