<div id="<%= dom_id ticket %>">
  <p>
    <strong><%= ticket.title %></strong>
  </p>

  <p>
    <%= ticket.description %>
  </p>

  <p>
    <strong><%= ticket.status %></strong>
  </p>
  <% ticket.uploads.each do |upload| %> 
    <%p IMAGEEEE%>
    <%= image_tag upload %> 
  <% end %>
</div>
