<div id="<%= dom_id ticket %>">
  <p>
    <strong><%= ticket.title %></strong>
  </p>

  <p>
    <%= ticket.description %>
  </p>

  <p>
    <strong><%= ticket.status %></strong>
  </p>
  <% ticket.uploads.each do |upload| %> 
    <%= image_tag upload %> 
  <% end %>

  <% if ticket.due_set %>
    <p> Due date: <%= ticket.due %> </p>
    <% else %>
    <%= button_to "Due date", project_ticket_due_path(id: ticket.id)%>
    <% end %>
</div>
