<p style="color: green"><%= notice %></p>

<h1>Tickets</h1>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "Show this ticket", project_ticket_path(project_id: @project.id, id: ticket.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New ticket", new_project_ticket_path(project_id: @project.id) %> |
<%= link_to "Back to projects", projects_path %>
