<%= render @ticket %>

<div>
  <%= link_to "Edit this ticket", edit_project_ticket_path(project_id: @ticket.project_id) %> |
  <%= link_to "Back to tickets", project_tickets_path %>
 

  <%= button_to "Destroy this ticket", project_ticket_path(project_id: @ticket.project.id, id: @ticket.id), method: :delete %>

  <!--checking if due date is set as a job already running to meet this deadline--!>
  <% if @ticket.due_set %>
    <p> Due date: <%= @ticket.due.strftime('%m/%d/%Y') %> </p>
    
  <% else %>
  <%= button_to "Due date", project_ticket_due_path(project_id: @ticket.project.id, id: @ticket.id)%>
  <% end %>
</div>

