
Most Recent
<% if @tickets.count == 0 %>
<div class="msg-empty">no recent tickets</div>
<% end %>

<div id="recent-tickets">
<% @tickets.each do |ticket| %>
  <a href="/projects/<%=ticket.project.id%>/tickets/<%=ticket.id%>">
  
    <span class="w3">
    <div class="w3-bar-item w3-button w3-padding ticket-card">
    <h4><strong><%= ticket.title %></strong></h4>
    <p>Project: <%=ticket.project.project_name %></p>

    <p>
        <strong>Status: </strong><%= ticket.status %>
    </p>

    <% if ticket.due_set %>
    <div style="color:blue;"><strong>Due date:  </strong><%= ticket.due.strftime('%m/%d/%Y') %></div>
    <% else %>
    <%= button_to "Due date", project_ticket_due_path(project_id: ticket.project.id,id: ticket.id)%>
    <% end %>

    </div>
    </span>
    </a>
 
<% end %>
<hr>
</div>