<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></div>
        <div class="w3-bar-item w3-button"><i class="fa fa-user"></i></div>
        <div class="w3-bar-item w3-button"><i class="fa fa-cog"></i></div>
        <p>Welcome, <%= current_user.email %></p>
      </div>
      
    </div>
    <hr>
    <div class="w3-bar-block b1">
      <div class="w3-bar-item w3-padding w3-blue"> Menu </div>
      <a href="/projects" class="w3-bar-item w3-button w3-padding", method="get"><i class="fa fa-users fa-fw"></i> Home</a>
      <a href="/projects/new" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  New project </a>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "w3-bar-item w3-button w3-padding" %>
      </div>
      <div class="w3-bar-block b2">
        <div class="w3-bar-item w3-padding w3-blue"> Shared Projects</div>
        <div id="projects">
        <% @@projects = current_user.shared_projects %>
        <% @@projects.each do |project| %>
  
            <a href="/projects/<%=project.id%>/tickets" class="w3-bar-item w3-button w3-padding" >
            <div><%=project.project_name%></div>
            <% if project.user_id == current_user.id %>
            <%= button_to "delete", project, method: :delete, class:"btn-del-pr" %>
            <% end %>
            </a>
            
        <% end %>
        </div>
      </div>
  </nav>
  